.card-1 {
  border-top: 5px solid #ff4f64;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
  width: 30%;
  list-style-type: none;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
  width: 30%;
  list-style-type: none;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 100px;
  background-color: #ffffff;
  width: 30%;
  list-style-type: none;
}

.card-4 {
  border-top: 5px solid #fcc200;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
  width: 30%;
  list-style-type: none;
}

/* Write CSS code here. */
.tech-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}
.tech-des {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 10px;
}
.img-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.tech-img {
  height: 80px;
}
